@model IEnumerable<FinalProject.DATA.EF.CustomerAsset>

@{
    ViewBag.Title = "Vehicle List";
}

<h2>@ViewBag.Title</h2>

@*<div>
    @using (Html.BeginForm("Create", "CustomerAssets", new { customerID = Model.}))
    <input type="button" value="Create" class="btn alert-dark" />
</div>*@
<a href="@Url.Action("Create", "CustomerAssets")" class="btn btn-primary d-none d-sm-block btn-style mr-2 button" style="padding-left:2em; width:250px;"> Create New Vehicle</a>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssetPhoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialNotes)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.UserDetail.FullName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AssetName)
        </td>
        <td>
            <img src="~/Content/CustomImages/t_@item.AssetPhoto" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialNotes)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.DateAdded)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.UserDetail.FullName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustomerAssetID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CustomerAssetID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CustomerAssetID })
        </td>
    </tr>
}

</table>
